<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <% layout('layout') %>
    <form method="post" action="/signup">
        <input type="text" placeholder="username" name="username" required/>
        <input type="password" placeholder="password" name="password" required/>
        <button type="submit">Signup</button>
    </form>
    <a href="/login">Already have an account? login</a>
</body>
</html>