<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View in detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- <h2>id : <%=obj.id%></h2> -->
    <h2>username : @<%=obj.username %></h2>
    <br>
    <h3>Content :
    <%= obj.content%></h3>
</body>
</html>